<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fornecedores</title>
    <link rel="stylesheet" href="styleTelas.css">
    <link rel="stylesheet" href="main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="images/icon.png">
    <script src="/js/jquery.min.js" defer></script>
    <script src="/js/jquery.mask.min.js" defer></script>
    <script src="/js/validator.min.js" defer></script>
    <script src="/js/validator.js" defer></script>
    <script src="/js/scriptfornecedor.js" defer></script>
</head>

<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bxl-redux' undefined></i>
            <span class="logo_name">Fest-S</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="http://localhost:3000/admin">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Início</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="http://localhost:3000/admin">Início</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Cadastro</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Cadastro</a></li>
                    <li><a href="http://localhost:3000/fornecedores">Fornecedores</a></li>
                    <li><a href="http://localhost:3000/estoque">Produtos</a></li>
                    <li><a href="http://localhost:3000/evento">Eventos</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class='bx bx-dollar-circle'></i>
                    <span class="link_name">Vendas</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Venda - Ingressos</a></li>
                    <li><a href="http://localhost:3000/bilheteria">Bilheteria</a></li>
                    <li><a class="link_name" href="#">Venda - Estoque</a></li>
                    <li><a href="http://localhost:3000/produtos">Produtos</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class='bx bx-bar-chart-alt-2'></i>
                    <span class="link_name">Movimentação</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Movimentação</a></li>
                    <li><a href="http://localhost:3000/estacionamento">Estacionamento</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img src="images/user-solid-48.png" alt="profileImg">
                    </div>
                    <div class="name-job">
                        <div class="profile_name">usuário</div>
                    </div>
                    <i class='bx bx-log-out'></i>
                </div>
            </li>
        </ul>
    </div>


    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
            <span class="text">Menu</span>
        </div>

        <div class="form-container">
            <div class="form-content">
                <form method="POST">
                    <div class="form-header">
                        <h1>Cadastro de fornecedores</h1>
                    </div>
                    <div class="input-group">

                        <div class="input-box">
                            <label for="cnpj">CNPJ</label>
                            <input type="text" name="cnpj" id="cnpj" maxlength="14" placeholder="00.000.000/0000-00"
                                required>
                        </div>

                        <div class="input-box">
                            <label for="razao_social">Razão Social</label>
                            <input type="text" name="razao_social" id="razao_social">
                        </div>

                        <div class="input-box">
                            <label for="nome_fantasia">Nome Fantasia</label>
                            <input type="text" name="nome_fantasia" id="nome_fantasia">
                        </div>

                        <div class="input-box">
                            <label for="cep">CEP</label>
                            <input type="text" name="cep" id="cep" placeholder="00000-000" maxlength="8">
                        </div>

                        <div class="input-box">
                            <label for="estado">Estado</label>
                            <select name="estado" id="estado">
                                <option value="estado">Selecione o Estado</option>
                                <option value="Acre">Acre</option>
                                <option value="Alagoas">Alagoas</option>
                                <option value="Amazonas">Amazonas</option>
                                <option value="Amapá">Amapá</option>
                                <option value="Bahia">Bahia</option>
                                <option value="Ceará">Ceará</option>
                                <option value="Distrito Federal">Distrito Federal</option>
                                <option value="Espírito Santo">Espírito Santo</option>
                                <option value="Goiá">Goiás</option>
                                <option value="Maranhão">Maranhão</option>
                                <option value="Mato Grosso">Mato Grosso</option>
                                <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                                <option value="Minas Gerais">Minas Gerais</option>
                                <option value="Pará">Pará</option>
                                <option value="Paraíba">Paraíba</option>
                                <option value="Paraná">Paraná</option>
                                <option value="Pernambuco">Pernambuco</option>
                                <option value="Piauí">Piauí</option>
                                <option value="Rio de Janeiro">Rio de Janeiro</option>
                                <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                                <option value="Rondônia">Rondônia</option>
                                <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                                <option value="Roraima">Roraima</option>
                                <option value="Santa Catarina">Santa Catarina</option>
                                <option value="Sergipe">Sergipe</option>
                                <option value="São Paulo">São Paulo</option>
                                <option value="Tocantins">Tocantins</option>
                            </select>
                        </div>

                        <div class="input-box">
                            <label for="cidade" id="cidade">Cidade</label>
                            <input type="text" name="cidade" id="cidade" placeholder="Ex. São Paulo">
                        </div>

                        <div class="input-box">
                            <label for="bairro" id="bairro">Bairro</label>
                            <input type="text" name="bairro" id="bairro" placeholder="Ex. Jardim Guanabara">
                        </div>

                        <div class="input-box">
                            <label for="rua" id="rua">Rua</label>
                            <input type="text" name="rua" id="rua" placeholder="Ex. Rua Manuel de Azevedo">
                        </div>

                        <div class="input-box">
                            <label for="numero_estabelecimento">Número</label>
                            <input type="text" name="numero_estabelecimento" id="numero_estabelecimento"
                                placeholder="Ex. 133">
                        </div>

                        <div class="input-box">
                            <label for="telefone">Telefone</label>
                            <input type="tel" name="telefone" id="telefone" placeholder="0000-0000">
                        </div>

                        <div class="input-box">
                            <label for="celular">Celular</label>
                            <input type="tel" name="celular" id="celular" placeholder="(xx) xxxxx-xxxx">
                        </div>


                    </div>

                    <div class="buttons">
                        <div class="cancelar-button">
                            <button type="reset">Limpar</button>
                        </div>

                        <div class="submit-button">
                            <button type="submit">Inserir</button>
                        </div>
                    </div>

                </form>
            </div>

            <div class="tabela">
                <div class="tabela-header">
                    <h1>Lista de fornecedores</h1>
                </div>
                <table class="">
                    <thead>
                        <tr>
                            <th>CNPJ</th>
                            <th>Nome</th>
                            <th>Estado</th>
                            <th>Cidade</th>
                            <th>Endereço</th>
                            <th>Celular</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% data.forEach(entry=> { %>
                            <tr>
                                <td>
                                    <%= entry.cnpj_fornecedor %>
                                </td>
                                <td>
                                    <%= entry.razao_social %>
                                </td>
                                <td>
                                    <%= entry.estado %>
                                </td>
                                <td>
                                    <%= entry.cidade %>
                                </td>
                                <td>
                                    <%= entry.rua %>
                                </td>
                                <td>
                                    <%= entry.celular %>
                                </td>
                                <td>
                                    <form action="<%= entry.cnpj_fornecedor %>?_method=DELETE" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit">
                                            <a>
                                                <i class='bx bxs-trash'></i>
                                            </a>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </section>
</body>

</html>